<div class="container">
  <form (ngSubmit)="onSubmit()" #regForm="ngForm">
    <h1> Форма входа</h1>
    <div class="form-group">
      <br>
      <label for="formName">Логин</label>
      <input type="text" class="form-control" id="formName"
             required
             [(ngModel)]="model.name" name="nameInp"
             #name="ngModel">
      <!--  <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Необходимо заполнить это поле
        </div> -->
    </div>

    <div class="form-group">
      <label for="pass">Пароль</label>
      <input type="password" class="form-control" id="pass" required
             [(ngModel)]="model.password" name="passw"
             #name="ngModel">
      <!-- <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
         Необходимо заполнить оба поля!
       </div> -->
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!regForm.form.valid"> Войти </button>
    <button type="button" class="btn btn-default"  (click)="regForm?.reset()"> Очистить поля </button>

    <br>
    <p style="font-size: 14pt"> Ещё не зарегистрировались? </p>
    <button type="submit" class="btn btn-success" [disabled]="!regForm.form.valid"> Зарегистрировать </button>
  </form>
</div>



<!--<div class="container">
  <h1>Hero Form</h1>
<form #regForm="ngForm">
  <div class="form-group">
     <label for="formName">Name</label>
    <input type="text" class="form-control" id="formName" required
           [(ngModel)]="model.name" name="name"
           #name="ngModel"/>
    <div [hidden]="name.valid || name.pristine"
         style="width: 40%"
         class="alert alert-danger">
      Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="pass">Alter Ego</label>
    <input type="password" class="form-control" id="pass" required
           [(ngModel)]="model.name" name="name"
           #name="ngModel"/>
    <div [hidden]="name.valid || name.pristine"
         style="width: 40%"
         class="alert alert-danger">
      Name is required
    </div>
  </div>
  <button type="submit" class="btn btn-success" (click)="regForm.reset()">Submit</button>
</form>
</div>-->
