<div class="BackPanel" >
  <div class="MainPanels" id="LabHeader" >
      Рогаленко Н.А, Исаев А.С. Р3202 - Лабораторная №4, вариант 4127
  </div>
  <div class = "MainPanels" id="AuthorizationForm" >
    <app-reg-form></app-reg-form>
  </div>
  <div class="MainPanels" id="Greetings"> <br/>
    <p> Добро пожаловать! </p> <br/>
     <p> Можно бесконечно смотреть на форму авторизации, а можно войти в аккаунт и начать проверку попадания!</p>
  </div>
</div>
<router-outlet></router-outlet>  <!--TODO: нужно для перехода на основную страницу - явно должно быть не здесь-->


